h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 18px;
}

main > div {
  background-color: #1f1f1f;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  font-style: normal;
}
.Custom-font{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.Custom-font1{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.Custom-font2{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.Custom-font3{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.Custom-font4{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.Custom-font5{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
main > div h2 {
   font-size: 24px;
}

/* colour the text of links black */
main > div > a {
  color: #00ffff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

/* Change the colour of links on hover using mouse */
main > div > a:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}

/* Change the color of links on focus using tab button */
main > div > a:focus {
  background-color: #ff4d4d;
  color: #ffffff;
  outline: 2px dashed #00ffff;
}
.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.flex-container a {
  text-decoration: none;
  color: #00ffff;
  transition: color 0.3s ease;
}

.flex-container a:hover {
  color: #ff4d4d; 
}
.divider{
color: #000000;
}
#Container6source {
  font-size: 24px;
}

/* Style the link inside the div */
#Container6source a {
  color: #00ffff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

/* Hover effect on the link itself */
#Container6source a:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}
#Container6source a:focus {
  background-color: #ff4d4d;
  color: #ffffff;
  outline: 2px dashed #00ffff;
}
#main_image {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 225, 225, 0.3) ;
	transition: transform 0.2s ease;
}

#main_image:hover {
	transform: scale(1.02);
}
#container0 {
  grid-area: area0;
}
#container1 {
  color:#ffffff;
  grid-area: area1;
}
#container2 {
  color: #ffffff;
  grid-area: area2;
}

#container3 {
  color: #ffffff;
  grid-area: area3;
}
#container4 {
  color:#ffffff;
  grid-area: area4;
}
#container5 {
  color: #ffffff;
  grid-area: area5;
}

#container6 {
  color: #ffffff;
  grid-area: area6;
}
main {
  background-color: #1a1a1a;
  display: grid;
  grid-template-areas:
  'area0'
  'area1'
  'area2'
  'area2'
    'area3'
    'area3'
    'area3'
    'area4'
    'area5'
    'area6';
  grid-gap: 20px;
  padding: 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 720px) {
  main {
    grid-template-columns: 1fr 1fr; /* two columns */
    grid-template-areas:
      'area1 area0'
      'area2 area3'
      'area4 area5'
      'area6 area6';
  }
}
